@import './base.css';
@import './vant.css';

#app {
  max-width: var(--app-max-width);
  margin: 0 auto;
}

.app-content{
  padding-bottom: var(--van-tabbar-height);
  box-sizing: border-box;
}

.items-box {
  --img-width: clamp(5rem, calc((100vw - 150px) / 2), 200px);
 padding: 1rem;
 display: grid;
 place-content: center;
 grid-gap: 0.8rem;
 grid-template-columns: repeat(auto-fill, var(--img-width));
}
.item {
 position: relative;
}
.item .img {
 width: var(--img-width);
 height: var(--img-width);
}
.item .text {
 text-align: center;
 font-size: 0.8rem;
 margin-top: 0.5rem;
 /* 超出2行显示省略号 */
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;
 word-break: break-all;
}
.item .index,
.item .like {
 position: absolute;
 top: 0;
 z-index: 1;
 opacity: 0.9;
}
.item .index {
 left: 0;
 background-color: var(--app-theme-color);
 color: #fff;
 width: 1rem;
 height: 1rem;
 text-align: center;
 font-size: 0.68rem;
 font-weight: 200;
}
.item .like {
 top: -2px;
 right: 3px;
 color: var(--app-theme-color);
}