
:root,:host{
    --van-tabbar-item-active-color: var(--app-theme-color) !important;
    --van-sidebar-selected-border-color: var(--app-theme-color) !important;
    /* --van-sidebar-width: 80px !important; */
}
.van-sidebar.van-tree-select__nav{
    flex: none !important;
}